button {
	border-radius: 10px;
	background: #F4A460;
	border: 2px solid black;
	margin: 1px;
}
button:hover {
	background: #DDA0DD;
}
button.selected {
	background: #FFFFE0;
}
button.mainSelected {
	border: 2px solid red;
}

#field{
	background: #778899;
	display: inline-block;
	position: absolute;
	top: 10%;
	left: 10%;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid black;
}